.rows-list {
  td.rating-1 {
    background-color: #7e002e;
    text-align: center;
  }
  td.rating-2 {
    background-color: #ffbe43;
    text-align: center;
  }
  td.rating-3 {
    background-color: #175306;
    text-align: center;
  }
}
