<div class="row">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-header>
        <span>Источники данных внешних метрик</span>
      </nb-card-header>

      <nb-card-body>

        <div class="row">
          <table class="table">
            <tr>
              <th>Метрика</th>
              <th>Обработчик</th>
              <th>URL</th>
              <th>Перейти к значениям</th>
            </tr>
            <tr *ngFor="let dataSource of dataSourcesList">
              <td>{{dataSource.metricName}}</td>
              <td>{{dataSource.name}}</td>
              <td>{{dataSource.handlerUrl}}</td>
              <td>
                <span>
                  <nb-icon icon="external-link-outline" (click)="openMetricValues(dataSource.outerMetricId)"></nb-icon>
                </span>
              </td>
            </tr>
          </table>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>
