<div class="row">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-header>
        <span>Фильтры</span>
      </nb-card-header>

      <nb-card-body>

        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-4 text-center">
                Отобрать по городу
              </div>
              <div class="col-8">
                <nb-select fullWidth placeholder="Выберите город" [(selected)]="selectedCityId">
                  <nb-option *ngFor="let city of citiesList"
                             (click)="applyFilters()"
                             [value]="city.cityTypeId">{{city.name}}</nb-option>
                </nb-select>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="row">
              <div class="col-4 text-center">
                Отобрать по году
              </div>
              <div class="col-8">
                <nb-select fullWidth placeholder="Выберите отчётный год" [(selected)]="selectedYear">
                  <nb-option *ngFor="let year of yearsList"
                             (click)="applyFilters()"
                             [value]="year">{{year}}</nb-option>
                </nb-select>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            <div class="row">
              <div class="col-4 text-center">
                Выбрать субиндексы
              </div>
              <div class="col-8">
                <nb-select fullWidth placeholder="Выберите субиндексы" multiple [(selected)]="filteredSubindexes">
                  <nb-option *ngFor="let sub of subIndexesAllList"
                             (click)="applyFilters(subindexId)"
                             [value]="sub.subIndexId">{{sub.name}}</nb-option>
                </nb-select>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <!--
            <div class="row">
              <div class="col-4 text-center">
                Фильтровать по индикаторам
              </div>
              <div class="col-8">
                <nb-select fullWidth placeholder="Выберите индикаторы" multiple [(selected)]="filteredIndicators">
                  <nb-option *ngFor="let category of categoriesList"
                             (click)="applyFilters()"
                             [value]="category.complaintCategoryId">{{category.displayName}}</nb-option>
                </nb-select>
              </div>
            </div>-->
          </div>
        </div>

        <!--
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            <button nbButton status="primary"
                    class="mat-ripple appearance-hero size-medium status-primary shape-rectangle ng-star-inserted nb-transition"
                    style="margin-top: 5px;"
                    (click)="switchControlMode()">
              <span *ngIf="!controlModeActivated">На контроле</span>
              <span *ngIf="controlModeActivated">Все записи</span>
            </button>
          </div>
        </div> -->

      </nb-card-body>
    </nb-card>

    <nb-card>
      <!--
      <nb-card-header>
        <span>Обращения</span>
      </nb-card-header>
      -->

      <nb-accordion *ngIf="selectedCityId > 0">
        <nb-accordion-item *ngFor="let subindex of subIndexesList">
          <nb-accordion-item-header>
            {{subindex.name}}
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="row" *ngFor="let indicator of subindex.indicatorsList">
              <table class="table">
                <tr>
                  <th>№</th>
                  <th>Индикатор</th>
                  <th>Базовый показатель</th>
                  <th>Отчётный год</th>
                  <th>Верификация</th>
                </tr>
                <tr>
                  <td>{{indicator.number}}</td>
                  <td>{{indicator.name}}</td>
                  <td>{{selectedYear}}</td>
                  <td>{{getIndicatorValue(indicator.indicatorId, 2020)}}</td>
                  <td>+</td>
                </tr>
                <tr *ngFor="let indicatorIndex of indicator.indicatorIndexes">
                  <td></td>
                  <td></td>
                  <td>{{indicatorIndex.number}}&nbsp;{{indicatorIndex.name}}</td>
                  <td>{{getIndicatorIndexValue(indicatorIndex.indicatorIndexId, selectedYear)}}</td>
                  <td></td>
                </tr>
              </table>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>

    </nb-card>
  </div>
</div>
