<div class="row">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-header>
        <span>Фильтры</span>
      </nb-card-header>

      <nb-card-body>

        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-4 text-center">
                Отобрать по городу
              </div>
              <div class="col-8">
                <nb-select fullWidth placeholder="Выберите город" [(selected)]="selectedCityId" #selectCity>
                  <nb-option *ngFor="let city of citiesList"
                             (click)="applyFilters()"
                             [value]="city.cityId">{{city.name}}</nb-option>
                </nb-select>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="row">
              <div class="col-4 text-center">
                Отобрать по году
              </div>
              <div class="col-8">
                <nb-select fullWidth placeholder="Выберите отчётный год" [(selected)]="selectedYear">
                  <nb-option *ngFor="let year of yearsList"
                             (click)="applyFilters()"
                             [value]="year">{{year}}</nb-option>
                </nb-select>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px;">
          <div class="col-md-6">
            <div class="row">
              <div class="col-4 text-center">
                Выбрать субиндексы
              </div>
              <div class="col-8">
                <nb-select fullWidth placeholder="Выберите субиндексы" multiple [(selected)]="filteredSubindexes">
                  <nb-option *ngFor="let sub of subIndexesAllList"
                             (click)="applyFilters()"
                             [value]="sub.subIndexId">{{sub.name}}</nb-option>
                </nb-select>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <!--
            <div class="row">
              <button nbButton status="primary"
                      [disabled]="editIndexesChanges.length == 0"
                      class="mat-ripple appearance-hero size-medium status-primary shape-rectangle ng-star-inserted nb-transition"
                      style="margin-top: 5px;"
                      (click)="applyIndicatorChanges()">
                <span >Сохранить изменения</span>
              </button>
            </div>
            -->
          </div>
        </div>

      </nb-card-body>
    </nb-card>

    <nb-card>

      <nb-accordion *ngIf="selectedCityId > 0">
        <nb-accordion-item *ngFor="let subindex of subIndexesList">
          <nb-accordion-item-header>
            {{subindex.name}}
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="row" *ngFor="let indicator of subindex.indicatorsList">
              <table class="table rows-list">
                <tr>
                  <th>№</th>
                  <th>Индикатор</th>
                  <th>Базовый показатель</th>
                  <th>Отчётный год: {{selectedYear}}</th>
                  <th>Верификация</th>
                </tr>
                <tr>
                  <td>{{indicator.number}}</td>
                  <td>{{indicator.name}}</td>
                  <td></td>
                  <td>{{getIndicatorValue(indicator.indicatorId, selectedYear)}}</td>
                  <td [ngClass]="{
                    'rating-1': isIndicatorHasRatingClass(indicator, 1),
                    'rating-2': isIndicatorHasRatingClass(indicator, 2),
                    'rating-3': isIndicatorHasRatingClass(indicator, 3)}">
                    <span (click)="goToIndicatorVerification(indicator)">
                      {{getIndicatorSocialVerificationStr(indicator.indicatorId)}}
                    </span>
                  </td>
                </tr>
                <tr *ngFor="let indicatorIndex of indicator.indicatorIndexes">
                  <td></td>
                  <td></td>
                  <td>{{indicatorIndex.number}}&nbsp;{{indicatorIndex.name}}</td>
                  <td>
                    <span>{{getIndicatorIndexValue(indicatorIndex.indicatorIndexId, selectedYear)}}</span>
                    <div *ngIf="userHelper.IsInRole('region_manager')">
                      <span *ngIf="editedIndicatorIndexId !== indicatorIndex.indicatorIndexId
                        && getIndicatorIndexValue(indicatorIndex.indicatorIndexId, selectedYear).length == 0">
                        <nb-icon icon="plus-circle-outline" (click)="setEditedIndicatorIndex(indicatorIndex)"></nb-icon>
                      </span>
                      <span *ngIf="editedIndicatorIndexId !== indicatorIndex.indicatorIndexId"
                        (click)="openAttachmentsWindow(indicatorIndex)">
                        <nb-icon icon="attach-2-outline"></nb-icon>
                      </span>
                      <input nbInput fullWidth placeholder="Введите значение"
                             *ngIf="editedIndicatorIndexId == indicatorIndex.indicatorIndexId"
                             type="number"
                             class="input-full-width size-medium status-basic shape-rectangle nb-transition"
                             [(ngModel)]="editedIndicatorIndexValue" />
                    </div>
                  </td>
                  <td></td>
                </tr>
              </table>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>

    </nb-card>
  </div>
</div>

<ng-template #attachmentsWindow let-data>
  <div>
    {{attachmentsIndicatorIndex.name}}
  </div>

  <button nbButton status="success"
          class="mat-ripple appearance-hero size-medium status-success shape-rectangle ng-star-inserted nb-transition"
          style="margin-top: 10px;"
          (click)="applyAttachmentsIndicatorIndex()">
    Применить</button>
</ng-template>
